{
  "singleQuote": true,
  "tabWidth": 4,
  "printWidth": 120,
  "xmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": {
        "parser": "lwc"
      }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.yml",
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "plugins": [
    "prettier-plugin-apex"
  ]
}