name: Validate PR on uat-integration branch

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [uat-integration]
    paths:
      - "force-app/**"

jobs:
  validate-pr-on-uat:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: "Checkout source code"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: "Read PR Body"
        env:
          PR_BODY: ${{github.event.pull_request.body}}
        run: |
          cd devops/
          echo $PR_BODY
          echo $PR_BODY > pr_body.txt
          python3 pr_to_tests.py           
          TESTS=$(cat tests_to_run.txt)       
          echo "APEX_TESTS=$TESTS" >> $GITHUB_ENV
          cd ..

      # Install SF CLI
      - name: "Install Salesforce CLI"
        run: |
          wget https://developer.salesforce.com/media/salesforce-cli/sf/channels/stable/sf-linux-x64.tar.xz
          mkdir ~/sf
          tar xJf sf-linux-x64.tar.xz -C ~/sf --strip-components 1
          echo "$HOME/sf/bin" >> $GITHUB_PATH
          ~/sf/bin/sf version

      # Install SFDX scanner
      - name: "Installing SFDX scanner"
        run: sfdx plugins:install @salesforce/sfdx-scanner

      - name: "Installing sfdx git delta"
        run: |
          echo y | sfdx plugins:install sfdx-git-delta
          sfdx plugins

      # Authenticate to Salesforce org using an SFDX Auth URL
      - name: "Authenticate to Integration Org"
        run: |
          echo ${{ secrets.SFDX_INTEGRATION_URL }} > ./SFDX_INTEGRATION_URL.txt
          sf org login sfdx-url -f ./SFDX_INTEGRATION_URL.txt --alias integration --set-default

      # Create delta packages for new, modified, or deleted metadata
      - name: "Create delta packages for new, modified, or deleted metadata"
        run: |
          mkdir changed-sources 
          sfdx sgd:source:delta --to "HEAD" --from "HEAD^" --output changed-sources/ --generate-delta --source force-app/

      # Scan code
      - name: "Scan code"
        run: |
          cd changed-sources
          sf scanner run --format json --target './**/*.cls' -e pmd  --outfile 'apexScanResults.json'
          cd ..

      - name: Set Environment Variables
        run: |
          echo "PR_NUMBER=${{ github.event.pull_request.number }}" >> $GITHUB_ENV
          echo "GITHUB_REPOSITORY=${{ github.repository }}" >> $GITHUB_ENV
          echo "TOKEN_GITHUB=${{ secrets.TOKEN_GITHUB }}" >> $GITHUB_ENV
          echo "COMMIT_ID=${{ github.event.pull_request.head.sha }}" >> $GITHUB_ENV

      - name: "post comment to github"
        run: |
          python3 devops/pmdCommentor.py

      # Check-only deploy delta changes and run specified tests
      - name: "Check-only deploy delta changes - run specified tests"
        if: ${{ env.APEX_TESTS != 'all' }}
        run: |
          sf project deploy validate  --source-dir "changed-sources/force-app" --test-level RunSpecifiedTests --tests ${{ env.APEX_TESTS }}

      # Check-only deploy delta changes and run all tests
      - name: "Check-only deploy delta changes - run all tests"
        if: ${{ env.APEX_TESTS == 'all' }}
        run: |
          sf project deploy validate --source-dir "changed-sources/force-app" --test-level RunLocalTests

      # Deploy destructive changes (if any) to do handle it
